<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AniAPI</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <header>
        <h1>AniAPI Documentation</h1>
        <a href="https://github.com/codewithap/aniapi/blob/main/README.md">Read Documentation</a>
    </header>

    <main>
        
    </main>

    <footer>
        <p>© 2024 AniAPI. All rights reserved.</p>
    </footer>

    <script>
    </script>
</body>
</html>
